<connectionStrings>	
  <add name="DbMejia" connectionString="Data Source=DESKTOP-SEBNLEB\SQLEXPRESS;Initial Catalog=DbMejia;User ID=administrator;Password=Lagunarr98;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />	
</connectionStrings>